html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: black !important;
}

.no-select {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

/* for monaco editor */ 
.scrollbar .slider::before, .slider::after {
    display: none !important;
}